src/flows/Add_Applicant_to_ATS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Store the input as the contact, and the job from the screen into fields on a new applicant variable.  For a custom job object, modify the job lookup field that you are storing the value into.</description>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tempApplicant.bpats__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempApplicant.bpats__ATS_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the input as the job, and the contact from the screen into fields on a new applicant variable.  For a custom job object, modify the job lookup field that you are storing the value into.</description>
        <name>Assign_Variables1</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>tempApplicant.bpats__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempApplicant.bpats__ATS_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Candidate.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Branch for duplicate record found.</description>
        <name>Check_for_existing_record</name>
        <label>Check for existing record</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Duplicate</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>The record Id is used to identify if it&apos;s a contact, or not a contact.  Contacts always start with 003.  If this flow is called from an object other than the packaged job object, this decision element does not need to be updated, but further elements will need to be modified.</description>
        <name>Contact_or_Job</name>
        <label>Contact or Job</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Job_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Screen</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>A screen flow that will add a new applicant to a Job record.  This can be called from either a contact record or a job record.  If using a custom job object, please update the lookup fields in this flow to point to your object.</description>
    <interviewLabel>Add Applicant to ATS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Applicant to ATS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the record from the variable previously set up.</description>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>tempApplicant</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Checking for duplicates.  Update job lookup fields to custom object if needed.</description>
        <name>Get_existing_record</name>
        <label>Get existing record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_record</targetReference>
        </connector>
        <filters>
            <field>bpats__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempApplicant.bpats__Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>bpats__ATS_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempApplicant.bpats__ATS_Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bpats__ATS_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>For this job, get the first stage of the ATS.  We need to place this new candidate into stage 1.  For a custom job object, change the filter to reference your object instead.</description>
        <name>Get_First_Stage</name>
        <label>Get First Stage</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_record</targetReference>
        </connector>
        <filters>
            <field>bpats__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempApplicant.bpats__Job__c</elementReference>
            </value>
        </filters>
        <object>bpats__ATS_Stage__c</object>
        <outputAssignments>
            <assignToReference>tempApplicant.bpats__Stage__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>bpats__Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <description>Show an error screen to let the user know that the applicant already exists on this job.</description>
        <name>Block_Duplicate</name>
        <label>Block Duplicate</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;This applicant already exists on this job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Collect the job that the user wants to add the contact to.  If using a custom job object, modify this lookup field to reference it.</description>
        <name>Contact_Screen</name>
        <label>Contact Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Job</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>bpats__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>bpats__ATS_Applicant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display error message to user to determine why the record couldn&apos;t be created.  Likely caused by a custom validation rule.</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;An error has occurred.  Please contact your admin for assistance. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Collect the contact that the user wants to add to the job. If using a custom job object, no changes are needed here.</description>
        <name>Job_Screen</name>
        <label>Job Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables1</targetReference>
        </connector>
        <fields>
            <name>Candidate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>bpats__ATS_Applicant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>bpats__ATS_Applicant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_or_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempApplicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__ATS_Applicant__c</objectType>
    </variables>
</Flow>
