src/flows/Assessment_Report_LTS_Email_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LTS_Email_Notification</name>
        <label>LTS Email Notification</label>
        <locationX>847</locationX>
        <locationY>223</locationY>
        <actionName>Assessment_Report__c.Assessment_Report_LTS_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>To_Store_LTS_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_for_LTS_Email_Notification</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>To_Store_LTS_Ids</name>
        <label>To Store LTS Ids</label>
        <locationX>722</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>Project_Manager_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>To_Filter_LTS_Ids</name>
        <label>To Filter LTS Ids</label>
        <locationX>643</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>LTS_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Having LTS Id Already</defaultConnectorLabel>
        <rules>
            <name>Is_Having_LTS_Id_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Manager_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
            </connector>
            <label>Is Having LTS Id Already</label>
        </rules>
    </decisions>
    <formulas>
        <name>Report_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <interviewLabel>Assessment Report LTS Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Report LTS Email Notification</label>
    <loops>
        <name>Iterate_AR_Records_to_Filter_LTS_Ids</name>
        <label>Iterate AR Records to Filter LTS Ids</label>
        <locationX>565</locationX>
        <locationY>381</locationY>
        <collectionReference>All_Assessment_Report_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_Filter_LTS_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assessment_Report_Records</name>
        <label>Get Assessment Report Records</label>
        <locationX>421</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Get_Assessment_Report_Record</targetReference>
        </faultConnector>
        <filters>
            <field>Project_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Language_Training_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APMO_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEA_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress_2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Self_Assessment_Test_Report</stringValue>
            </value>
        </filters>
        <object>Assessment_Report__c</object>
        <outputReference>All_Assessment_Report_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Manager__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Get_Assessment_Report_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-26</startDate>
            <startTime>05:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_for_LTS_Email_Notification</name>
        <label>Error Handling for LTS Email Notification</label>
        <locationX>895</locationX>
        <locationY>391</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Assessment Report LTS Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>LTS Email Notification</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Get_Assessment_Report_Record</name>
        <label>Error Handling in Get Assessment Report Record</label>
        <locationX>435</locationX>
        <locationY>483</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Assessment Report LTS Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Get Assessment Report Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>All_Assessment_Report_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Assessment_Report_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Manager_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
