src/flows/Assessment_Report_After_Update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Test_Report_Record_into_List</name>
        <label>Add Test Report Record into List</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Test_Report_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Student_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Student__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Language_Testing_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conditions_to_Create_Language_Testing_Records</name>
        <label>Check Conditions to Create Language Testing Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Do Other Action_1</defaultConnectorLabel>
        <rules>
            <name>Language_Testing_Creation_From_Final_Test_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Test_Report_Record_into_List</targetReference>
            </connector>
            <label>Language Testing Creation From Final Test Report</label>
        </rules>
        <rules>
            <name>Language_Testing_Creation_From_Final_LTP_Report</name>
            <conditionLogic>1 AND 2 AND 3 AND ((4 AND 5 AND (6 OR 7)) OR 8 OR 9 OR 10 OR (NOT(11) AND NOT(12) AND NOT(13) AND NOT(14) AND NOT(4))) AND 15</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language_Training_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DODA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__r.Program_Iteration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__r.Program_Iteration__r.Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JMAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__r.Program_Iteration__r.Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FCS2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FCS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DLI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>APMO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PGLS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language_Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Test_Report_Record_into_List</targetReference>
            </connector>
            <label>Language Testing Creation From Final LTP Report</label>
        </rules>
    </decisions>
    <interviewLabel>Assessment Report After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Report After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditions_to_Create_Language_Testing_Records</targetReference>
        </connector>
        <object>Assessment_Report__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Language_Testing_Records</name>
        <label>Create Language Testing Records</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <flowName>Create_Language_Testing_Record_From_Test_Report</flowName>
        <inputAssignments>
            <name>Assessment_Report_Records</name>
            <value>
                <elementReference>Test_Report_Records</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Project_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Student_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test_Report_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
</Flow>
