src/flows/Auto_Update_UAE_Instructor_Status_as_Ended.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Ended_Status_to_UAE_Instructor</name>
        <label>Assign Ended Status to UAE Instructor</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Contact_Assignment_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_UAE_Instructors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Assignment_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Assignment_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Assignment_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_UAE_Instructors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Assignment_List_Size</name>
        <label>Check Contact Assignment List Size</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Empty_List</defaultConnectorLabel>
        <rules>
            <name>Is_NOT_Empty_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Assignment_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CA_List</targetReference>
            </connector>
            <label>Not Empty List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Name_And_Classification_Check</name>
        <label>Project Name And Classification Check</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Iterate_UAE_Instructors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is NOT UAE Instructor</defaultConnectorLabel>
        <rules>
            <name>Is_UAE_Instructor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_UAE_Instructors.Project__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_UAE_Instructors.Project__r.QB_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF0UAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ended_Status_to_UAE_Instructor</targetReference>
            </connector>
            <label>Is UAE Instructor</label>
        </rules>
    </decisions>
    <description>W-007896 : Request for Automatic CA Status Update from Active to Ended for UAE Projects</description>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Auto Update UAE Instructor Status as Ended {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Update UAE Instructor Status as Ended</label>
    <loops>
        <name>Iterate_UAE_Instructors</name>
        <label>Iterate UAE Instructors</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>UAE_Instructor_Contact_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Name_And_Classification_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Assignment_List_Size</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>UAE_Instructor_Contact_Assignments</name>
        <label>UAE Instructor Contact Assignments</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_UAE_Instructors</targetReference>
        </connector>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instructor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Assignments__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CA_List</name>
        <label>Update CA List</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <inputReference>Contact_Assignment_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UAE_Instructor_Contact_Assignments</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-04</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact_Assignment_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
    <variables>
        <name>Contact_Assignment_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
</Flow>
