src/flows/Contact_Assignment_Trigger_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_P_P_Outbound_Message</name>
        <label>Send P&amp;P Outbound Message</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Contact_Assignments__c.Send_Student_Policy_and_Procedure</actionName>
        <actionType>outboundMessage</actionType>
    </actionCalls>
    <decisions>
        <name>Init_Conditions</name>
        <label>Init Conditions</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Student_P_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DLS_P_and_P_Generated_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DLS_P_and_P_Conga_URL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.DLS_P_and_P_Generated_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.DLS_P_and_P_Generated_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_P_P_Outbound_Message</targetReference>
            </connector>
            <label>Send Student P&amp;P</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Assignment Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Assignment Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Conditions</targetReference>
        </connector>
        <object>Contact_Assignments__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
