src/flows/Create_Interview_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add screen fields to variable, as well as fields from the input applicant record.</description>
        <name>Build_Var</name>
        <label>Build Var</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NewEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.bpats__Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.bpats__ATS_Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedTo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
    </assignments>
    <description>Creates an event record for the candidate.  As each person needs their own interview, this flow is built to accept a single recordId variable.</description>
    <formulas>
        <name>EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Start_Date_Time} + {!Length_Minutes}/60/24</expression>
    </formulas>
    <formulas>
        <name>SubjectText</name>
        <dataType>String</dataType>
        <expression>&quot;Interview with &quot;+{!recordId.bpats__ATS_Applicant__r.FirstName} +&quot; &quot;+ {!recordId.bpats__ATS_Applicant__r.LastName}</expression>
    </formulas>
    <interviewLabel>Create Interview Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Interview Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an Event Relation record to associate the interviewer to the event as well.</description>
        <name>Add_interviewer_as_a_contact_on_event</name>
        <label>Add interviewer as a contact on event</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Roll_back</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>NewEvent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsParent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>Interviewer.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the record.</description>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Add_interviewer_as_a_contact_on_event</targetReference>
        </connector>
        <inputReference>NewEvent</inputReference>
    </recordCreates>
    <screens>
        <description>Collect information from the user.</description>
        <name>Create_Interview</name>
        <label>Create Interview</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_Var</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SubjectText</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interviewer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>bpats__Hiring_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Interviewer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>bpats__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.bpats__Job__r.bpats__Hiring_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Length_Minutes</name>
            <dataType>Number</dataType>
            <fieldText>Length (Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssignedTo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>bpats__Sales_Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>bpats__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;An error occurred.  Please see below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Interview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__ATS_Applicant__c</objectType>
    </variables>
</Flow>
