src/flows/Create_Language_Testing_Record_From_Test_Report.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Language_Testing_Recs</name>
        <label>Create Language Testing Recs</label>
        <locationX>344</locationX>
        <locationY>378</locationY>
        <actionName>CreateLanguageTestingRecordFromARFlow</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Handling_in_Create_Language_Testing_Recs</targetReference>
        </faultConnector>
        <inputParameters>
            <name>languageTestingRecs</name>
            <value>
                <elementReference>All_Language_Testing_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectIds</name>
            <value>
                <elementReference>Project_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>studentIds</name>
            <value>
                <elementReference>Student_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Language_Testing_Record_into_List</name>
        <label>Add Language Testing Record into List</label>
        <locationX>659</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>All_Language_Testing_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Language_Testing_Rec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Student_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Student__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Test_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Report_Values_to_Language_Testing_Rec</name>
        <label>Assign Test Report Values to Language Testing Rec</label>
        <locationX>508</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-House (Internal)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Test_Format__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Test_Format__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Test_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Test_Report_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Date_Time_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed_Date_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Tester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Instructor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Testee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Student__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.L_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L_Score_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.R_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_Score_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.S_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S_Score_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Target_Language_LU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Language_LU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.Assessment_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.L_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Proficiency_Objective_Listening__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.R_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Proficiency_Objective_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Language_Testing_Rec.S_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Test_Reports.Proficiency_Objective_Speaking__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Language_Testing_Record_into_List</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Completed_Date_Value</name>
        <dataType>Date</dataType>
        <expression>IF({!Iterate_Test_Reports.RecordType_Name__c} == &apos;Language_Training_Progress&apos;, {!Iterate_Test_Reports.Report_Date__c}, {!Iterate_Test_Reports.Date_Completed__c})</expression>
    </formulas>
    <formulas>
        <name>L_Score_Value</name>
        <dataType>String</dataType>
        <expression>IF({!Iterate_Test_Reports.RecordType_Name__c} == &apos;Test_Report&apos;, TEXT({!Iterate_Test_Reports.Language_Proficiency_Score_Listening__c}), TEXT({!Iterate_Test_Reports.Current_Estimated_ILR_Rating_Listening__c}))</expression>
    </formulas>
    <formulas>
        <name>R_Score_Value</name>
        <dataType>String</dataType>
        <expression>IF({!Iterate_Test_Reports.RecordType_Name__c} == &apos;Test_Report&apos;, TEXT({!Iterate_Test_Reports.Language_Proficiency_Score_Reading__c}), TEXT({!Iterate_Test_Reports.Current_Estimated_ILR_Rating_Reading__c}))</expression>
    </formulas>
    <formulas>
        <name>S_Score_Value</name>
        <dataType>String</dataType>
        <expression>IF({!Iterate_Test_Reports.RecordType_Name__c} == &apos;Test_Report&apos;, TEXT({!Iterate_Test_Reports.Language_Proficiency_Score_Speaking__c}), TEXT({!Iterate_Test_Reports.Current_Estimated_ILR_Rating_Speaking__c}))</expression>
    </formulas>
    <interviewLabel>Create Language Testing Record From Test Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Language Testing Record From Test Report</label>
    <loops>
        <name>Iterate_Test_Reports</name>
        <label>Iterate Test Reports</label>
        <locationX>340</locationX>
        <locationY>207</locationY>
        <collectionReference>Assessment_Report_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Test_Report_Values_to_Language_Testing_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Language_Testing_Recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>214</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Iterate_Test_Reports</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Create_Language_Testing_Recs</name>
        <label>Error Handling in Create Language Testing Recs</label>
        <locationX>482</locationX>
        <locationY>378</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Create Language Testing Record From Test Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Create Language Testing Recs</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>All_Language_Testing_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Language_Testing__c</objectType>
    </variables>
    <variables>
        <name>Assessment_Report_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Language_Testing_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Language_Testing__c</objectType>
    </variables>
    <variables>
        <name>Project_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Student_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
