src/flows/Email_Reminder_for_Loaned_Computers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Loaned_Computer_Reminder</name>
        <label>Send Loaned Computer Reminder</label>
        <locationX>771</locationX>
        <locationY>338</locationY>
        <actionName>Equipment_Assignment__c.Email_Reminder_To_Instructor_regarding_Loaned_Computer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_a_Task_for_Instructor_Student</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Send_Loaned_Computer_Reminder</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Email_Send_Date_Check</name>
        <label>Email Send Date Check</label>
        <locationX>573</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Email_Send_Date_Before_Seven_Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Send_Date_After_Seven_Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Today_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Loaned_Computer_Reminder</targetReference>
            </connector>
            <label>Is Valid Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Conditions_Check</name>
        <label>Entry Conditions Check</label>
        <locationX>354</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Record_To_Process</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Last_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Equipment__r.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Equipment__r.Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laptop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Send_Date_Check</targetReference>
            </connector>
            <label>Valid Record To Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Holiday_Condition_Check</name>
        <label>Holiday Condition Check</label>
        <locationX>168</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay_TodayDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WeekDay_TodayDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entry_Conditions_Check</targetReference>
            </connector>
            <label>Is Business Day</label>
        </rules>
    </decisions>
    <formulas>
        <name>Email_Send_Date_After_Seven_Day</name>
        <dataType>Date</dataType>
        <expression>IF({!WeekDay_EmailSendAfterSevDate} == 7, {!EmailSendAfterSevenDate}+2, IF({!WeekDay_EmailSendAfterSevDate} == 1, {!EmailSendAfterSevenDate}+1, {!EmailSendAfterSevenDate}))</expression>
    </formulas>
    <formulas>
        <name>Email_Send_Date_Before_Seven_Day</name>
        <dataType>Date</dataType>
        <expression>IF({!WeekDay_EmailSendBeforeSevDate} == 7, {!EmailSendBeforeSevenDate}-1, IF({!WeekDay_EmailSendBeforeSevDate} == 1, {!EmailSendBeforeSevenDate}-2, {!EmailSendBeforeSevenDate}))</expression>
    </formulas>
    <formulas>
        <name>EmailSendAfterSevenDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contact__r.Last_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>EmailSendBeforeSevenDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contact__r.Last_End_Date__c}-7</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>WeekDay_EmailSendAfterSevDate</name>
        <dataType>Number</dataType>
        <expression>DAY({!EmailSendAfterSevenDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WeekDay_EmailSendBeforeSevDate</name>
        <dataType>Number</dataType>
        <expression>DAY({!EmailSendBeforeSevenDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WeekDay_TodayDate</name>
        <dataType>Number</dataType>
        <expression>DAY({!Today_Date})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Email Reminder for Loaned Computer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Reminder for Loaned Computers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task_for_Instructor_Student</name>
        <label>Create a Task for Instructor_Student</label>
        <locationX>771</locationX>
        <locationY>179</locationY>
        <faultConnector>
            <targetReference>Error_Handling_in_Create_a_Task_for_Instructor_Student</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reminder to return your Computer Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Holiday_Condition_Check</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Equipment_RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Computer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Loaned_Computer_Reminder_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <object>Equipment_Assignment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-14</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Create_a_Task_for_Instructor_Student</name>
        <label>Error Handling in Create a Task for Instructor_Student</label>
        <locationX>891</locationX>
        <locationY>170</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Email Reminder for Loaned Computers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Create a Task for Instructor_Student</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Send_Loaned_Computer_Reminder</name>
        <label>Error Handling in Send Loaned Computer Reminder</label>
        <locationX>890</locationX>
        <locationY>339</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Email Reminder for Loaned Computers</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Send Loaned Computer Reminder</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
