src/flows/Equipment_Assignment_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Active_Stage_to_Equipment</name>
        <label>Assign Active Stage to Equipment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Equipment_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Equipment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment_Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Equipment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Equipment_List_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Available_Stage_to_Equipment</name>
        <label>Assign Available Stage to Equipment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Equipment_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Equipment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment_Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Equipment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Equipment_List_Size</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Equipment_Assignment_Stage_Value</name>
        <label>Check Equipment Assignment Stage Value</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Equipment_List_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Equipment_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Equipment__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Stage_to_Equipment</targetReference>
            </connector>
            <label>Active Equipment Assignment</label>
        </rules>
        <rules>
            <name>Ended_Equipment_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Equipment__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Available_Stage_to_Equipment</targetReference>
            </connector>
            <label>Ended Equipment Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Equipment_List_Size</name>
        <label>Check Equipment List Size</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Equipment List is Empty</defaultConnectorLabel>
        <rules>
            <name>Equipment_List_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Equipment_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Equipment_Records</targetReference>
            </connector>
            <label>Equipment List is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditions_to_Update_Equipment_Stage</name>
        <label>Conditions to Update Equipment Stage</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Do_Other_Action_1</defaultConnectorLabel>
        <rules>
            <name>Update_Equipment_Stage</name>
            <conditionLogic>1 AND ((2 AND 4) OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Equipment_Assignment_Stage_Value</targetReference>
            </connector>
            <label>Update Equipment Stage</label>
        </rules>
    </decisions>
    <description>W-007954 : Auto Update the Equipment Stage to Active when a new Active Equipment Assignment is Created</description>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Equipment Assignment After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment Assignment After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Equipment_Records</name>
        <label>Update Equipment Records</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputReference>Equipment_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conditions_to_Update_Equipment_Stage</targetReference>
        </connector>
        <object>Equipment_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Equipment_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>Equipment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
</Flow>
