src/flows/Event_Approval_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Approved_Event_Assignment</name>
        <label>Approved Event Assignment</label>
        <locationX>863</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>recordId.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Event_Assignment</name>
        <label>Rejected Event Assignment</label>
        <locationX>861</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>recordId.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTS Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.LTS_Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LTS_Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approve_Status_Validation</name>
        <label>Approve Status Validation</label>
        <locationX>600</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Approved_the_LTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Event_Assignment</targetReference>
            </connector>
            <label>Approved the LTS</label>
        </rules>
        <rules>
            <name>LTS_Rejection_Reason_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Reason</targetReference>
            </connector>
            <label>LTS Rejection Reason Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Approval_initial_Validation</name>
        <label>Event Approval initial Validation</label>
        <locationX>168</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LTS Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Parent_Event__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Parent_Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Is_Request_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Approval</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <interviewLabel>Event Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Event_records</name>
        <label>Update Event records</label>
        <locationX>1098</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Final_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>1095</locationX>
        <locationY>558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Something error is happen,Please try again later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Approval</name>
        <label>Event Approval</label>
        <locationX>418</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approve_Status_Validation</targetReference>
        </connector>
        <fields>
            <name>Approve_Status</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_message</name>
        <label>Final message</label>
        <locationX>1281</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sucess_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Event is updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>606</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rejected_Event_Assignment</targetReference>
        </connector>
        <fields>
            <name>LTS_Rejection_Reason</name>
            <fieldText>LTS Rejection Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;{!LTS_Rejection_Reason_Event}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>170</locationX>
        <locationY>463</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Event_Validation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You can only use this action for Pending LTS Approval stage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Event_Approval_initial_Validation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Events__c</objectType>
    </variables>
</Flow>
