src/flows/Generate_Placements.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Save the completed temp variable into a collection for later deployment.</description>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PlacementsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPlacement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save the count into a number variable.</description>
        <name>Count_Them</name>
        <label>Count Them</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>numPlacements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Placements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save the necessary fields into a temp variable.</description>
        <name>Set_up_variable</name>
        <label>Set up variable</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Job__r.bpats__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__ATS_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__ATS_Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__ATS_Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Job__r.bpats__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Estimated_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Job__r.bpats__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Pay_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Bill_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Bill_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlacement.bpats__Salary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_applicant.bpats__Salary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the number of openings is less than or equal to the number of placement records - or if the number of openings is not filled in, assume it&apos;s closed.</description>
        <name>Job_Filled</name>
        <label>Job Filled?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Openings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>tempPlacement.bpats__ATS_Job__r.bpats__Number_of_Openings__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>numPlacements</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tempPlacement.bpats__ATS_Job__r.bpats__Number_of_Openings__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Openings</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>This flow creates placement records for all applicants moved to this stage.  Be sure to pass recordId as a collection in your ATS Action record.</description>
    <formulas>
        <name>PlacementNameFormula</name>
        <dataType>String</dataType>
        <expression>/* if there is an account, display name */
if(NOT(ISBLANK({!For_each_applicant.bpats__Job__r.bpats__Account__c})), {!For_each_applicant.bpats__Job__r.bpats__Account__r.Name} + &quot; - &quot;, &quot;&quot;) +
/* then display the job and applicant names */
{!For_each_applicant.bpats__Job__r.Name} + &quot; - &quot; + {!For_each_applicant.bpats__ATS_Applicant__r.FirstName} + &quot; &quot; + {!For_each_applicant.bpats__ATS_Applicant__r.LastName}</expression>
    </formulas>
    <interviewLabel>Generate Placements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Placements</label>
    <loops>
        <description>Loop through each applicant.</description>
        <name>For_each_applicant</name>
        <label>For each applicant</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_up_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the placement records.</description>
        <name>Create</name>
        <label>Create</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_All_Placements</targetReference>
        </connector>
        <inputReference>PlacementsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>With the new records created, get a count of all placements on this job, include previously existing records.</description>
        <name>Get_All_Placements</name>
        <label>Get All Placements</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Them</targetReference>
        </connector>
        <filters>
            <field>bpats__ATS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempPlacement.bpats__ATS_Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bpats__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pulls the Ids from the input variable into a collection of ATS Applicant records.</description>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>bpats__ATS_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save the placement count, but do not update the job status.  If you have a status for &quot;partially filled&quot;, you can update the status to that value here.</description>
        <name>Copy_1_of_Update_Openings</name>
        <label>Update Openings</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempPlacement.bpats__ATS_Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Openings_Filled__c</field>
            <value>
                <elementReference>numPlacements</elementReference>
            </value>
        </inputAssignments>
        <object>bpats__Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Close the job and save the placement count.</description>
        <name>Update_Openings</name>
        <label>Update Openings</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempPlacement.bpats__ATS_Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bpats__Openings_Filled__c</field>
            <value>
                <elementReference>numPlacements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bpats__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>bpats__Job__c</object>
    </recordUpdates>
    <screens>
        <description>Displays the records that will be created to the user.</description>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>For_each_applicant</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Create these records?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>bpats__ATS_Applicant__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Placement Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Applicants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;bpats__Applicant_Name__c&quot;,&quot;guid&quot;:&quot;column-6ac0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Applicant Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;bpats__Pay_Rate__c&quot;,&quot;guid&quot;:&quot;column-eff2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Pay Rate&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;bpats__Bill_Rate__c&quot;,&quot;guid&quot;:&quot;column-e5e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Bill Rate&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;bpats__Salary__c&quot;,&quot;guid&quot;:&quot;column-1dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Salary&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numPlacements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PlacementsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__Placement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempPlacement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bpats__Placement__c</objectType>
    </variables>
</Flow>
