src/flows/Language_Testing_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Language_Testing_Assignment</name>
        <label>Language Testing Assignment</label>
        <locationX>987</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eeeeeeeeeeeeeeee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Contact_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAssignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Testee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.Candidate_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Target_Language_LU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.Project__r.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.Project__r.AcctSeed__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Date_Time_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Test_Format__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Format</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Test_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.S_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SScoreFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.L_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L_Score_Final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.R_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_Score_Final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.S_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.S_Score_Final__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.L_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.L_Score_Final__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.R_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.R_Score_Final__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Tester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tester.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Examiner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Examiner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.W_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>W_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.W_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.W_Score_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LanguageTestingRecs.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CA_quety.Opportunity_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Language_Testing_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_CA_empty_or_not</name>
        <label>Check CA empty or not</label>
        <locationX>357</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>CA_Records_Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CA Recs Empty</defaultConnectorLabel>
        <rules>
            <name>Project_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CA_quety</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Project_Id_empty_or_not</targetReference>
            </connector>
            <label>Project Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Id_empty_or_not</name>
        <label>Check Project Id empty or not</label>
        <locationX>576</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Project_is_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project is empty</defaultConnectorLabel>
        <rules>
            <name>Display_Language_Creation_UI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CA_quety.Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Testing_Creation</targetReference>
            </connector>
            <label>Display Language Creation UI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intial_Condition</name>
        <label>Intial Condition</label>
        <locationX>168</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Final_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CA Id is  empty</defaultConnectorLabel>
        <rules>
            <name>CA_Id_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactAssignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CA_quety</targetReference>
            </connector>
            <label>CA Id is not empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>lScoreFinal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>L_Score__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rScorePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>R_Score__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SFinalPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>S_Score__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestFormatPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Test_Format__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Test_Type__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WScorePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>W_Score__c</picklistField>
        <picklistObject>Language_Testing__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Schedule_date</name>
        <dataType>Date</dataType>
        <expression>{!LanguageTestingRecs.Date_Time_Scheduled__c}</expression>
    </formulas>
    <interviewLabel>Language Testing Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Language Testing Creation - V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Language_Testing_Records</name>
        <label>Create Language Testing Records</label>
        <locationX>986</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CA_Error_Log_Screen</targetReference>
        </faultConnector>
        <inputReference>LanguageTestingRecs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CA_quety</name>
        <label>Get CA quety</label>
        <locationX>173</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CA_empty_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CA_query_error_handling</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactAssignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CA_Error_Log_Screen</name>
        <label>CA Error Log Screen</label>
        <locationX>819</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CA_query_Error_Handling_text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!FlowErrorlog}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_query_error_handling</name>
        <label>CA query error handling</label>
        <locationX>164</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CA_query_Error_Handling_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!FlowErrorlog}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_Records_Empty_Screen</name>
        <label>CA Records Empty Screen</label>
        <locationX>358</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CARecs_Validation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 68, 16);&quot;&gt;There is no Contact Assignment to proceed to create a Language Testing record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1116</locationX>
        <locationY>579</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Language Testing record is created successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0</name>
        <label>Final Screen</label>
        <locationX>416</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CA_Id_Validation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 34, 34);&quot;&gt;There is no Contact Assignment to proceed to create a Language Testing record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Language_Testing_Creation</name>
        <label>Language Testing Creation</label>
        <locationX>842</locationX>
        <locationY>388</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Language_Testing_Assignment</targetReference>
        </connector>
        <fields>
            <name>Language_Testing_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_Testing_Creation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_Testing_Creation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_Testing_Creation_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_Testing_Creation_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_is_Empty</name>
        <label>Project is  Empty Screen</label>
        <locationX>589</locationX>
        <locationY>583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Project_Validation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 37, 37);&quot;&gt;There is no Project for selected Contact Assi&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;gnments.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Intial_Condition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CARecs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
    <variables>
        <name>contactAssignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowErrorlog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>LanguageTestingRecs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Language_Testing__c</objectType>
    </variables>
</Flow>
