src/flows/Moodle_Delete_Course.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Project_Rec_for_Updation</name>
        <label>Add Project Rec for Updation</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Update_Project_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Moodle_Status_Value</name>
        <label>Update Moodle Status Value</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Update_Project.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_All_Projects.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Project.Moodle_Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Project_Rec_for_Updation</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>End_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-1, MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Moodle Delete Course {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Moodle Delete Course</label>
    <loops>
        <name>Iterate_All_Projects</name>
        <label>Iterate All Projects</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Query_Project_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Moodle_Status_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Project_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Project_Records</name>
        <label>Query Project Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Projects</targetReference>
        </connector>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moodle_Course_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Moodle_Sync_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Moodle_Sync_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>AcctSeed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Moodle_Sync_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Project_Records</name>
        <label>Update All Project Records</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>Update_Project_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Project_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-12-11</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Update_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
    <variables>
        <name>Update_Project_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
</Flow>
