src/flows/pi__Account_Engagement_Sandbox_Production_Bulk_Asset_Copy_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_custom_field_in_loop</name>
        <label>Copy Custom Field in Loop</label>
        <locationX>138</locationX>
        <locationY>6374</locationY>
        <actionName>pi__CreateCustomField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_copied_custom_fields</targetReference>
        </connector>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldId</name>
            <value>
                <elementReference>Copy_All_Custom_Fields_Loop.fieldId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Copy_All_Custom_Fields_Loop.type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customField</name>
            <value>
                <elementReference>Copy_All_Custom_Fields_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Copy_All_Custom_Fields_Loop.name</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_custom_redirect_in_loop</name>
        <label>Copy Custom Redirect in Loop</label>
        <locationX>138</locationX>
        <locationY>5966</locationY>
        <actionName>pi__CreateCustomRedirect</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_copied_custom_redirects</targetReference>
        </connector>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackerDomainId</name>
            <value>
                <elementReference>Destination_TrackerDomain.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customRedirect</name>
            <value>
                <elementReference>Copy_all_custom_redirects_in_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Destination_Campaign.selectedValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_email_template_in_loop</name>
        <label>Copy email template in loop</label>
        <locationX>138</locationX>
        <locationY>5558</locationY>
        <actionName>pi__CreateEmailTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <elementReference>Copy_all_email_templates_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackerDomainId</name>
            <value>
                <elementReference>Destination_TrackerDomain.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Destination_Campaign.selectedValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_Engagement_Studio_Programs_in_loop</name>
        <label>Copy Engagement Studio Programs in Loop</label>
        <locationX>138</locationX>
        <locationY>7190</locationY>
        <actionName>pi__CreateEngagementStudioProgram</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_copied_Engagement_Studio_programs</targetReference>
        </connector>
        <inputParameters>
            <name>destinationBusinessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>engagementStudioProgram</name>
            <value>
                <elementReference>Copy_All_Engagement_Programs_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceBusinessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_file_in_loop</name>
        <label>Copy File in Loop</label>
        <locationX>138</locationX>
        <locationY>6782</locationY>
        <actionName>pi__CreateFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_copied_files</targetReference>
        </connector>
        <inputParameters>
            <name>trackerDomainId</name>
            <value>
                <elementReference>Destination_TrackerDomain.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filex</name>
            <value>
                <elementReference>Copy_all_files_in_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Destination_Campaign.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_Form_Handler_in_Loop</name>
        <label>Copy Form Handler in Loop</label>
        <locationX>138</locationX>
        <locationY>8006</locationY>
        <actionName>pi__CreateFormHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Copied_Form_Handlers</targetReference>
        </connector>
        <inputParameters>
            <name>formHandler</name>
            <value>
                <elementReference>Get_Form_Handlers_in_Loop.formHandler</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>Destination_Campaign.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackerDomainId</name>
            <value>
                <elementReference>Destination_TrackerDomain.selectedValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_Layout_Templates_in_loop</name>
        <label>Copy Layout Templates in Loop</label>
        <locationX>138</locationX>
        <locationY>7598</locationY>
        <actionName>pi__CreateLayoutTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_copied_Layout_Templates</targetReference>
        </connector>
        <inputParameters>
            <name>layoutTemplate</name>
            <value>
                <elementReference>Copy_All_Layout_Templates_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Destination_Folder.selectedValue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Flow_Context</name>
        <label>Generate Flow Context</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <actionName>pi__GenerateFlowContext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
        <inputParameters>
            <name>productionToSandbox</name>
            <value>
                <elementReference>Production_to_Sandbox_Flow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productionBusinessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountEngagementSandboxBUCredential</name>
            <value>
                <elementReference>Account_Engagement_Sandbox_Business_Unit_Credential</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sandboxBusinessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Account_Engagement_Sandbox_BU_Named_Credentials</name>
        <label>Get Account Engagement Sandbox BU Named Credentials</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <actionName>pi__NamedCredentialQueryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Named_Credentials</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>var_AccountEngagementSandboxBUCredentials</assignToReference>
            <name>namedCredentials</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Email_Templates</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>campaigns</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_CampaignList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_custom_field_in_loop</name>
        <label>Get Custom Field in Loop</label>
        <locationX>138</locationX>
        <locationY>3518</locationY>
        <actionName>pi__GetCustomField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>collect_custom_fields</targetReference>
        </connector>
        <inputParameters>
            <name>customFieldID</name>
            <value>
                <elementReference>Get_all_custom_field_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Custom_Fields</name>
        <label>Get Custom Fields</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Custom_Redirects</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>custom-fields</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_CustomFieldList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_custom_redirect_in_loop</name>
        <label>Get Custom Redirect in Loop</label>
        <locationX>138</locationX>
        <locationY>2702</locationY>
        <actionName>pi__GetCustomRedirect</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_custom_redirects</targetReference>
        </connector>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customRedirectId</name>
            <value>
                <elementReference>Get_all_custom_redirect_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Custom_Redirects</name>
        <label>Get Custom Redirects</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Files</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>custom-redirects</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_CustomRedirectList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Email_Templates</name>
        <label>Get Email Templates</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Custom_Fields</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>email-templates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_EmailTemplateList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_email_templates_in_loop</name>
        <label>Get Email Template in Loop</label>
        <locationX>138</locationX>
        <locationY>2294</locationY>
        <actionName>pi__GetEmailTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_email_templates</targetReference>
        </connector>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_all_email_templates_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Engagement_Studio_Programs</name>
        <label>Get Engagement Studio Programs</label>
        <locationX>226</locationX>
        <locationY>1646</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Layout_Templates</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>engagement-studio-programs</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_EngagementStudioProgramList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Engagement_Studio_Programs_in_loop</name>
        <label>Get Engagement Studio Programs in Loop</label>
        <locationX>138</locationX>
        <locationY>3926</locationY>
        <actionName>pi__GetEngagementStudioProgram</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Engagement_Studio_program</targetReference>
        </connector>
        <inputParameters>
            <name>engagementStudioProgramId</name>
            <value>
                <elementReference>Get_All_Engagement_Studio_Program_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_file_in_loop</name>
        <label>Get File in Loop</label>
        <locationX>138</locationX>
        <locationY>3110</locationY>
        <actionName>pi__GetFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_files</targetReference>
        </connector>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>Get_all_file_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>226</locationX>
        <locationY>1322</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Folders</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>files</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_FileList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Folders</name>
        <label>Get Folders</label>
        <locationX>226</locationX>
        <locationY>1430</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Tracker_Domains</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>folders</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_FolderList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Form_Handlers</name>
        <label>Get Form Handlers</label>
        <locationX>226</locationX>
        <locationY>1862</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Assets_to_Copy</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>form-handlers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_FormHandlerList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Form_Handlers_in_Loop</name>
        <label>Get Form Handlers in Loop</label>
        <locationX>138</locationX>
        <locationY>4742</locationY>
        <actionName>pi__GetFormHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Form_Handlers</targetReference>
        </connector>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formHandlerID</name>
            <value>
                <elementReference>Get_All_Form_Handlers_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Layout_Templates</name>
        <label>Get Layout Templates</label>
        <locationX>226</locationX>
        <locationY>1754</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Form_Handlers</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>layout-templates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_LayoutTemplateList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Layout_Templates_in_loop</name>
        <label>Get Layout Templates in loop</label>
        <locationX>138</locationX>
        <locationY>4334</locationY>
        <actionName>pi__GetLayoutTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Collect_Layout_Templates</targetReference>
        </connector>
        <inputParameters>
            <name>layoutTemplateId</name>
            <value>
                <elementReference>Get_All_Layout_Templates_Loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Production_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Production_Business_Units</name>
        <label>Get Production Business Units</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <actionName>pi__PardotBusinessUnitQueryActionV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sandbox_Business_Units</targetReference>
        </connector>
        <inputParameters>
            <name>fromSandbox</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesforceSandboxBUCredential</name>
            <value>
                <elementReference>Salesforce_Sandbox_Business_Unit_Named_Credential</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_ProdBusinessUnits</assignToReference>
            <name>businessUnits</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Salesforce_Sandbox_BU_Named_Credentials</name>
        <label>Get Salesforce Sandbox BU Named Credentials</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <actionName>pi__NamedCredentialQueryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Engagement_Sandbox_BU_Named_Credentials</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>var_SalesforceSandboxBUCredentials</assignToReference>
            <name>namedCredentials</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Sandbox_Business_Units</name>
        <label>Get Sandbox Business Units</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <actionName>pi__PardotBusinessUnitQueryActionV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_BUs</targetReference>
        </connector>
        <inputParameters>
            <name>fromSandbox</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesforceSandboxBUCredential</name>
            <value>
                <elementReference>Salesforce_Sandbox_Business_Unit_Named_Credential</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_SandboxBusinessUnits</assignToReference>
            <name>businessUnits</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Tracker_Domains</name>
        <label>Get Tracker Domains</label>
        <locationX>226</locationX>
        <locationY>1538</locationY>
        <actionName>pi__GetObjectDropdownList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Engagement_Studio_Programs</targetReference>
        </connector>
        <inputParameters>
            <name>queryObject</name>
            <value>
                <stringValue>tracker-domains</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>context</name>
            <value>
                <elementReference>Generate_Flow_Context.context</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldParams</name>
            <value>
                <stringValue>id,domain</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessUnitId</name>
            <value>
                <elementReference>Sandbox_Business_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getFromSource</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_TrackerDomainList</assignToReference>
            <name>options</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record ID</label>
        <locationX>138</locationX>
        <locationY>5666</locationY>
        <assignmentItems>
            <assignToReference>var_SavedEmailTemplates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_email_template_in_loop.emailTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_all_email_templates_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_copied_custom_fields</name>
        <label>Collect Copied Custom Fields</label>
        <locationX>138</locationX>
        <locationY>6482</locationY>
        <assignmentItems>
            <assignToReference>var_SavedCustomFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_custom_field_in_loop.customField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_All_Custom_Fields_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_copied_custom_redirects</name>
        <label>Collect Copied Custom Redirects</label>
        <locationX>138</locationX>
        <locationY>6074</locationY>
        <assignmentItems>
            <assignToReference>var_SavedCustomRedirects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_custom_redirect_in_loop.customRedirect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_all_custom_redirects_in_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_copied_Engagement_Studio_programs</name>
        <label>Collect copied Engagement Studio programs</label>
        <locationX>138</locationX>
        <locationY>7298</locationY>
        <assignmentItems>
            <assignToReference>var_SavedEngagementStudioPrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Engagement_Studio_Programs_in_loop.engagementStudioProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_All_Engagement_Programs_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_copied_files</name>
        <label>Collect Copied Files</label>
        <locationX>138</locationX>
        <locationY>6890</locationY>
        <assignmentItems>
            <assignToReference>var_SavedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_file_in_loop.filex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_all_files_in_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Copied_Form_Handlers</name>
        <label>Collect Copied Form Handlers</label>
        <locationX>138</locationX>
        <locationY>8114</locationY>
        <assignmentItems>
            <assignToReference>var_SavedFormHandlers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Form_Handler_in_Loop.formHandler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_All_Form_Handlers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_copied_Layout_Templates</name>
        <label>Collect Copied Layout Templates</label>
        <locationX>138</locationX>
        <locationY>7706</locationY>
        <assignmentItems>
            <assignToReference>var_SavedLayoutTemplates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Layout_Templates_in_loop.layoutTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_All_Layout_Templates_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collect_custom_fields</name>
        <label>Collect Custom Fields</label>
        <locationX>138</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>var_customFieldOutputList3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_custom_field_in_loop.customField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_custom_field_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_custom_redirects</name>
        <label>Collect Custom Redirects</label>
        <locationX>138</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>var_CustomRedirectOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_custom_redirect_in_loop.customRedirect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_custom_redirect_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_email_templates</name>
        <label>Collect Email Templates</label>
        <locationX>138</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>var_EmailTemplateOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_email_templates_in_loop.emailTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_email_templates_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Engagement_Studio_program</name>
        <label>Collect Engagement Studio program</label>
        <locationX>138</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>var_engagementStudioProgramsOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Engagement_Studio_Programs_in_loop.engagementStudioProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Engagement_Studio_Program_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_files</name>
        <label>Collect Files</label>
        <locationX>138</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>var_FileOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_file_in_loop.filex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_file_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Form_Handlers</name>
        <label>Collect Form Handlers</label>
        <locationX>138</locationX>
        <locationY>4850</locationY>
        <assignmentItems>
            <assignToReference>var_FormHandlerOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Form_Handlers_in_Loop.formHandler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Form_Handlers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Layout_Templates</name>
        <label>Collect Layout Templates</label>
        <locationX>138</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>var_LayoutTemplateOutputList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Layout_Templates_in_loop.layoutTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Layout_Templates_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Copy_from_Production_to_Sandbox</name>
        <choiceText>Copy from Production to Sandbox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy from Production to Sandbox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Copy_from_Sandbox_to_Production</name>
        <choiceText>Copy from Sandbox to Production</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy from Sandbox to Production</stringValue>
        </value>
    </choices>
    <decisions>
        <name>skip_config_screen</name>
        <label>Skip Config Screen</label>
        <locationX>50</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Configure_Asset_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>skip_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomRedirectOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_EmailTemplateOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_FileOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_engagementStudioProgramsOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LayoutTemplateOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomFieldOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_FormHandlerOutputList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_all_email_templates_loop</targetReference>
            </connector>
            <label>Skip Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_selected_assets</name>
        <label>Validate Selected Assets</label>
        <locationX>226</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>No Asset Selected</defaultConnectorLabel>
        <rules>
            <name>One_or_more_assets_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_EmailTemplateCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomRedirectCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomFieldCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LayoutTemplateCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_EngagementStudioProgramCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_FileCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_FormHandlerCombo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_email_templates_loop</targetReference>
            </connector>
            <label>One or more assets selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ccl_AccountEngagementSandboxBUCredentials</name>
        <collectionReference>var_AccountEngagementSandboxBUCredentials</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_ProdBusinessUnits</name>
        <collectionReference>var_ProdBusinessUnits</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_SalesforceSandboxBUCredentials</name>
        <collectionReference>var_SalesforceSandboxBUCredentials</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccl_SandboxBusinessUnits</name>
        <collectionReference>var_SandboxBusinessUnits</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_BusinessUnit</name>
        <dataType>String</dataType>
        <displayField>PardotTenantName</displayField>
        <object>PardotTenant</object>
        <sortField>PardotTenantName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Destination_Business_Unit</name>
        <dataType>String</dataType>
        <expression>IF({!Generate_Flow_Context.context.productionToSandbox}=True , {!Sandbox_Business_Unit}, {!Production_Business_Unit})</expression>
    </formulas>
    <formulas>
        <name>Production_to_Sandbox_Flow</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Direction_of_Copy}={!Copy_from_Production_to_Sandbox}, True, False)</expression>
    </formulas>
    <formulas>
        <name>Source_Business_Unit</name>
        <dataType>String</dataType>
        <expression>IF({!Generate_Flow_Context.context.productionToSandbox}=True , {!Production_Business_Unit}, {!Sandbox_Business_Unit})</expression>
    </formulas>
    <interviewLabel>Account Engagement Sandbox-Production Bulk Asset Copy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account Engagement Sandbox-Production Bulk Asset Copy Flow</label>
    <loops>
        <name>Copy_All_Custom_Fields_Loop</name>
        <label>Copy All Custom Fields Loop</label>
        <locationX>50</locationX>
        <locationY>6266</locationY>
        <collectionReference>var_customFieldOutputList3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_custom_field_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_all_files_in_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_all_custom_redirects_in_loop</name>
        <label>Copy All Custom Redirects Loop</label>
        <locationX>50</locationX>
        <locationY>5858</locationY>
        <collectionReference>var_CustomRedirectOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_custom_redirect_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_All_Custom_Fields_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_all_email_templates_loop</name>
        <label>Copy All Email Templates Loop</label>
        <locationX>50</locationX>
        <locationY>5450</locationY>
        <collectionReference>var_EmailTemplateOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_email_template_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_all_custom_redirects_in_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_All_Engagement_Programs_Loop</name>
        <label>Copy All Engagement Programs Loop</label>
        <locationX>50</locationX>
        <locationY>7082</locationY>
        <collectionReference>var_engagementStudioProgramsOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Engagement_Studio_Programs_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_All_Layout_Templates_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_all_files_in_loop</name>
        <label>Copy All Files Loop</label>
        <locationX>50</locationX>
        <locationY>6674</locationY>
        <collectionReference>var_FileOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_file_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_All_Engagement_Programs_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_All_Form_Handlers_Loop</name>
        <label>Copy All Form Handlers Loop</label>
        <locationX>50</locationX>
        <locationY>7898</locationY>
        <collectionReference>var_FormHandlerOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Form_Handler_in_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_All_Layout_Templates_Loop</name>
        <label>Copy All Layout Templates Loop</label>
        <locationX>50</locationX>
        <locationY>7490</locationY>
        <collectionReference>var_LayoutTemplateOutputList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Layout_Templates_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_All_Form_Handlers_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_custom_field_loop</name>
        <label>Get All Custom Field Loop</label>
        <locationX>50</locationX>
        <locationY>3410</locationY>
        <collectionReference>var_CustomFieldCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_custom_field_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Engagement_Studio_Program_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_custom_redirect_loop</name>
        <label>Get All Custom Redirect Loop</label>
        <locationX>50</locationX>
        <locationY>2594</locationY>
        <collectionReference>var_CustomRedirectCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_custom_redirect_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_file_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_email_templates_loop</name>
        <label>Get All Email Templates Loop</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <collectionReference>var_EmailTemplateCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_email_templates_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_custom_redirect_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_All_Engagement_Studio_Program_Loop</name>
        <label>Get All Engagement Studio Program Loop</label>
        <locationX>50</locationX>
        <locationY>3818</locationY>
        <collectionReference>var_EngagementStudioProgramCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Engagement_Studio_Programs_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Layout_Templates_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_file_loop</name>
        <label>Get All File Loop</label>
        <locationX>50</locationX>
        <locationY>3002</locationY>
        <collectionReference>var_FileCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_file_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_custom_field_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_All_Form_Handlers_Loop</name>
        <label>Get All Form Handlers Loop</label>
        <locationX>50</locationX>
        <locationY>4634</locationY>
        <collectionReference>var_FormHandlerCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Form_Handlers_in_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Assets_to_Copy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_All_Layout_Templates_Loop</name>
        <label>Get All Layout Templates Loop</label>
        <locationX>50</locationX>
        <locationY>4226</locationY>
        <collectionReference>var_LayoutTemplateCombo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Layout_Templates_in_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Form_Handlers_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Configure_Asset_Setting</name>
        <label>Configure Asset Details</label>
        <locationX>138</locationX>
        <locationY>5258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_all_email_templates_loop</targetReference>
        </connector>
        <fields>
            <name>pi_step_configureAssetsBU</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_BUIndicator3</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Copying assets from &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Source_Business_Unit}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; to &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!Destination_Business_Unit}. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Destination_Folder</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Folder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_FolderList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Destination_Campaign</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_CampaignList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Destination_TrackerDomain</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Tracker Domain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_TrackerDomainList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Assets_to_Copy</name>
        <label>Confirm Assets to Copy</label>
        <locationX>50</locationX>
        <locationY>5042</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>skip_config_screen</targetReference>
        </connector>
        <fields>
            <name>pi_step_confirmAssetsSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_BUIndicator2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Copying assets from &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Source_Business_Unit}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; to &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Destination_Business_Unit}. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Assets</name>
            <extensionName>pi:previewAssets</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>emailTemplates</name>
                <value>
                    <elementReference>var_EmailTemplateOutputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customRedirects</name>
                <value>
                    <elementReference>var_CustomRedirectOutputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>files</name>
                <value>
                    <elementReference>var_FileOutputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customFields</name>
                <value>
                    <elementReference>var_customFieldOutputList3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementStudioPrograms</name>
                <value>
                    <elementReference>var_engagementStudioProgramsOutputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutTemplates</name>
                <value>
                    <elementReference>var_LayoutTemplateOutputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formHandlers</name>
                <value>
                    <elementReference>var_FormHandlerOutputList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_Confirmation</name>
        <label>Copy Confirmation</label>
        <locationX>50</locationX>
        <locationY>8306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>pi_step_copyConfirmSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CopiedAssets</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following records were processed from &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Source_Business_Unit}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Destination_Business_Unit} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Copied_Assets</name>
            <extensionName>pi:previewAssets</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>emailTemplates</name>
                <value>
                    <elementReference>var_SavedEmailTemplates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customRedirects</name>
                <value>
                    <elementReference>var_SavedCustomRedirects</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>files</name>
                <value>
                    <elementReference>var_SavedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customFields</name>
                <value>
                    <elementReference>var_SavedCustomFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementStudioPrograms</name>
                <value>
                    <elementReference>var_SavedEngagementStudioPrograms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutTemplates</name>
                <value>
                    <elementReference>var_SavedLayoutTemplates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formHandlers</name>
                <value>
                    <elementReference>var_SavedFormHandlers</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Assets_to_Copy</name>
        <label>Select Assets to Copy</label>
        <locationX>226</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_selected_assets</targetReference>
        </connector>
        <fields>
            <name>pi_step_selectassetsSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_BUIndicator1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Copying assets from &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Source_Business_Unit}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Destination_Business_Unit}. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recommended_warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 130, 3);&quot;&gt;** The recommendation is to copy fewer than 5 of each asset to optimize copy times.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Source_Email_Template</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Email Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_EmailTemplateList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_EmailTemplateCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_EmailTemplateCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Custom_Redirects</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Custom Redirect</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_CustomRedirectList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_CustomRedirectCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CustomRedirectCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Custom_Fields</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Custom Fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_CustomFieldList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_CustomFieldCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CustomFieldCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Files</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_FileList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_FileCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_FileCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Engagement_Studio_Program</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Engagement Studio Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_EngagementStudioProgramList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_EngagementStudioProgramCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_EngagementStudioProgramCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Layout_Template</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Layout Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_LayoutTemplateList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_LayoutTemplateCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_LayoutTemplateCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Form_Handler</name>
            <extensionName>pi:combobox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Form Handler</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>var_FormHandlerList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValues</name>
                <value>
                    <elementReference>var_FormHandlerCombo</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_FormHandlerCombo</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_BUs</name>
        <label>Select Business Units</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Flow_Context</targetReference>
        </connector>
        <fields>
            <name>pi_step_businessUnitsSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Direction_of_Copy</name>
            <choiceReferences>Copy_from_Sandbox_to_Production</choiceReferences>
            <choiceReferences>Copy_from_Production_to_Sandbox</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Copy_from_Sandbox_to_Production</defaultSelectedChoiceReference>
            <fieldText>Direction of Copy</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Production_Business_Unit</name>
            <choiceReferences>ccl_ProdBusinessUnits</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Production Business Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select the Business Unit containing the assets you want to copy.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sandbox_Business_Unit</name>
            <choiceReferences>ccl_SandboxBusinessUnits</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sandbox Business Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select the Business Unit to where you want to copy the assets.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Named_Credentials</name>
        <label>Select Named Credentials</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Production_Business_Units</targetReference>
        </connector>
        <fields>
            <name>pi_step_namedCredSB</name>
            <extensionName>pi:progressIndicatorSandbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Salesforce_Sandbox_Business_Unit_Named_Credential</name>
            <choiceReferences>ccl_SalesforceSandboxBUCredentials</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Salesforce_Sandbox_Business_Unit_Credential</stringValue>
            </defaultValue>
            <fieldText>Named Credential For Salesforce API Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Engagement_Sandbox_Business_Unit_Credential</name>
            <choiceReferences>ccl_AccountEngagementSandboxBUCredentials</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Account_Engagement_Sandbox_Business_Unit_Credential</stringValue>
            </defaultValue>
            <fieldText>Named Credential For Account Engagement API Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesforce_Sandbox_BU_Named_Credentials</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Getallcustomfieldredirectloop</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountEngagementSandboxBUCredentials</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CampaignList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomFieldCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomFieldList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomFieldOutputList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomFieldOutputList2</name>
        <apexClass>pi__CustomFieldModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_customFieldOutputList3</name>
        <apexClass>pi__CustomFieldModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomRedirectCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomRedirectList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomRedirectOutputList</name>
        <apexClass>pi__CustomRedirectModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailTemplateCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailTemplateList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailTemplateOutputList</name>
        <apexClass>pi__EmailTemplateModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EngagementStudioProgramCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EngagementStudioProgramList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_engagementStudioProgramsOutputList</name>
        <apexClass>pi__EngagementStudioProgramModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FileCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FileList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FileOutputList</name>
        <apexClass>pi__FileModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FolderList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FormHandlerCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FormHandlerList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FormHandlerList3</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FormHandlerOutputList</name>
        <apexClass>pi__FormHandlerModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LayoutTemplateCombo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LayoutTemplateList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LayoutTemplateOutputList</name>
        <apexClass>pi__LayoutTemplateModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProdBusinessUnits</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SalesforceSandboxBUCredentials</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SandboxBusinessUnits</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedCustomFields</name>
        <apexClass>pi__CustomFieldModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedCustomRedirects</name>
        <apexClass>pi__CustomRedirectModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedEmailTemplates</name>
        <apexClass>pi__EmailTemplateModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedEngagementStudioPrograms</name>
        <apexClass>pi__EngagementStudioProgramModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedFiles</name>
        <apexClass>pi__FileModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedFormHandlers</name>
        <apexClass>pi__FormHandlerModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SavedLayoutTemplates</name>
        <apexClass>pi__LayoutTemplateModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TrackerDomainList</name>
        <apexClass>pi__PicklistOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
