src/flows/Project_Trigger_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Language_Value_in_to_Variable</name>
        <label>Add Language Value in to Variable</label>
        <locationX>325</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>Language_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Language_Category_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Language_Category_Value_to_Project</name>
        <label>Assign Language Category Value to Project</label>
        <locationX>583</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Language_Category_Rec.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Empty_Value_to_LC_field_for_Prior_Project</name>
        <label>Set Empty Value to LC field for Prior Project</label>
        <locationX>681</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Language_Category_Rec_Size</name>
        <label>Check Language Category Rec Size</label>
        <locationX>417</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Check_Prior_Project_LC_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Having LC Rec</defaultConnectorLabel>
        <rules>
            <name>Is_Having_LC_Rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Language_Category_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language_Category_Value_to_Project</targetReference>
            </connector>
            <label>Is Having LC Rec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prior_Project_LC_Value</name>
        <label>Check Prior Project LC Value</label>
        <locationX>563</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Not Having Language Category for Prior_Project</defaultConnectorLabel>
        <rules>
            <name>Is_Having_Language_Category_for_Prior_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Empty_Value_to_LC_field_for_Prior_Project</targetReference>
            </connector>
            <label>Is Having Language Category for Prior_Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Field_Value_Check_To_Populate_Language_Category</name>
        <label>Language Field Value Check To Populate Language Category</label>
        <locationX>168</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Not Having Language Value</defaultConnectorLabel>
        <rules>
            <name>Is_Having_Language_Value</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Language_Value_in_to_Variable</targetReference>
            </connector>
            <label>Is Having Language Value</label>
        </rules>
    </decisions>
    <description>To populate Language Category field on project record when project is inserted or updated.</description>
    <interviewLabel>Project Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project_Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Language_Category_Rec</name>
        <label>Query Language Category	Rec</label>
        <locationX>425</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Language_Category_Rec_Size</targetReference>
        </connector>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Language_Value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Language_Category__c</object>
        <sortField>DLS_Lang_Cat__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Language_Field_Value_Check_To_Populate_Language_Category</targetReference>
        </connector>
        <filters>
            <field>Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Language_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
</Flow>
