src/flows/SproutSocialApp__Inbound_Sprout_Social_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Build_New_Case</name>
        <label>Build New Case</label>
        <locationX>1018</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__ParentContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.SproutSocialApp__Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_New_Case_0</name>
        <label>Build New Case</label>
        <locationX>1282</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.SproutSocialApp__Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Persona_Parent_Contact</name>
        <label>Build Persona Parent Contact</label>
        <locationX>1480</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>Persona_Parent_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Parent_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_enough_information_to_create_a_parent_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Persona_Record_from_Data_Event</name>
        <label>Build Persona Record from Data Event</label>
        <locationX>704</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Parent_GUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__RealName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Real_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Media_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__External_Picture_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_External_Picture_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__Profile_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Profile_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__Followers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Followers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__Author_Labels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Persona_Author_Labels__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Post_Record_from_Data_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Post_Record_from_Data_Event</name>
        <label>Build Post Record from Data Event</label>
        <locationX>704</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Message_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Message_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__ExternalPostId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__PostTags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Tags__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Posted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Posted_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Recipient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Parent_GUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Parent_GUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Sprout_Message_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Sprout_Message_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Customer_Profile_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Customer_Profile_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Post_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__ResponseContextExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Response_Context_External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__IsOutbound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Is_Outbound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__Sentiment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Sentiment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_check_for_existing_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reopen_Case</name>
        <label>Reopen Case</label>
        <locationX>314</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Case_Record</name>
        <label>Set Parent Case Record</label>
        <locationX>996</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case_of_ReplyTo_Post</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_parent_Case_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Contact_Lookup_Value</name>
        <label>Set Parent Contact Lookup Value</label>
        <locationX>1348</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__ParentContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Parent_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Persona_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Persona_Lookup_on_Post</name>
        <label>Set Persona Lookup on Post</label>
        <locationX>1359</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__PersonaId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_unsent_parent_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Persona_Record_ID_and_Parent_Contact_ID</name>
        <label>Set Persona Record ID and Parent Contact ID</label>
        <locationX>704</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Persona_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.SproutSocialApp__ParentContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Persona_Parent_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_there_an_existing_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Record_ID_and_Post_Exists</name>
        <label>Set Post Record ID and Post Exists</label>
        <locationX>726</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Post_by_External_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Exists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Persona_Provider_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Reviewed_Status_to_Needed</name>
        <label>Set Post Reviewed Status to &apos;Needed&apos;</label>
        <locationX>1227</locationX>
        <locationY>5447</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__ReviewedStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Post_record_already_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Relationships_on_Post</name>
        <label>Set Relationships on Post</label>
        <locationX>1359</locationX>
        <locationY>5207</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__WhoId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__ParentContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_to_require_moderator_review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReplyTo_Post</name>
        <label>Set ReplyTo Post</label>
        <locationX>1359</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>Reply_To_Post</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ReplyToId_Lookup_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReplyToId_Lookup_Value</name>
        <label>Set ReplyToId Lookup Value</label>
        <locationX>1359</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.SproutSocialApp__ReplyToId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reply_To_Post.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_there_an_existing_persona</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_an_Existing_Post_record</name>
        <label>Did we find an Existing Post record?</label>
        <locationX>858</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Is_Persona_Provider_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Did_we_find_an_Existing_Post_record_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Post_by_External_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Record_ID_and_Post_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_require_moderator_review</name>
        <label>Do we need to require moderator review?</label>
        <locationX>1359</locationX>
        <locationY>5327</locationY>
        <defaultConnector>
            <targetReference>Does_the_Post_record_already_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Do_we_need_to_require_moderator_review_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.SproutSocialApp__ParentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Reviewed_Status_to_Needed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_parent_Case_exist</name>
        <label>Does a parent Case exist?</label>
        <locationX>996</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Should_we_create_a_new_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_a_parent_Case_exist_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Persona_have_a_parent_Contact</name>
        <label>Does the Persona have a parent Contact?</label>
        <locationX>1150</locationX>
        <locationY>4463</locationY>
        <defaultConnector>
            <targetReference>Build_New_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_the_Persona_have_a_parent_Contact_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__ParentContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_New_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Post_record_already_exist</name>
        <label>Does the Post record already exist?</label>
        <locationX>1359</locationX>
        <locationY>5663</locationY>
        <defaultConnector>
            <targetReference>Create_Post_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_the_Post_record_already_exist_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Post_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Closed</label>
        <locationX>644</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_the_case_be_reopened</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Persona_Provider_Other</name>
        <label>Is Persona Provider &apos;Other&apos;?</label>
        <locationX>704</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Persona_External_ID_and_Media_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_Persona_Provider_Other_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__Provider__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Persona_External_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_External_ID</name>
        <label>Is there a Persona External ID?</label>
        <locationX>407</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Persona_by_External_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_External_ID_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_Name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_External_ID_and_Media_Provider</name>
        <label>Is there a Persona External ID and Media Provider?</label>
        <locationX>1001</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Persona_Name_and_Media_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_External_ID_and_Media_Provider_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_External_ID_and_Media_Provider</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_Name_and_Media_Provider</name>
        <label>Is there a Persona Name and Media Provider?</label>
        <locationX>1199</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_Name_and_Media_Provider_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_Name_and_Media_Provider</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_enough_information_to_create_a_parent_Contact</name>
        <label>Is there enough information to create a parent Contact?</label>
        <locationX>1480</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Create_Persona_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_enough_information_to_create_a_parent_Contact_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Persona_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Persona_Parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_enough_information_to_create_a_persona</name>
        <label>Is there enough information to create a persona?</label>
        <locationX>1634</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_enough_information_to_create_a_persona_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Persona_Parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_unsent_parent_true</name>
        <label>Is unsent parent &apos;true&apos;?</label>
        <locationX>1359</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_unsent_parent_true_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case_of_ReplyTo_Post</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_the_case_be_reopened</name>
        <label>Should the case be reopened?</label>
        <locationX>446</locationX>
        <locationY>4463</locationY>
        <defaultConnector>
            <targetReference>Should_we_create_a_new_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_the_case_be_reopened_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Now</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxNumberofDaysforCaseReopening</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_check_for_existing_post</name>
        <label>Should we check for existing post?</label>
        <locationX>704</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Post_by_External_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Should_we_check_for_existing_post_NO</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Post_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Post_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Post_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Persona_Provider_Other</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_create_a_new_Case_0</name>
        <label>Should we create a new Case?</label>
        <locationX>1348</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_we_create_a_new_Case_YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Skip_Create_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Persona_have_a_parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_an_existing_persona</name>
        <label>Was there an existing persona?</label>
        <locationX>1359</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>Is_there_enough_information_to_create_a_persona</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_there_an_existing_persona_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Persona</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_an_existing_post</name>
        <label>Was there an existing post?</label>
        <locationX>704</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_there_an_existing_post_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Post</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v1</description>
    <formulas>
        <name>MaxNumberofDaysforCaseReopening</name>
        <dataType>DateTime</dataType>
        <expression>{!Parent_Case_Record.ClosedDate} + 5</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Inbound Sprout Social Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Inbound Sprout Social Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Case</name>
        <label>Create new Case</label>
        <locationX>1150</locationX>
        <locationY>4799</locationY>
        <connector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </connector>
        <inputReference>Parent_Case_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Persona_Parent_Contact</name>
        <label>Create Persona Parent Contact</label>
        <locationX>1348</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Set_Parent_Contact_Lookup_Value</targetReference>
        </connector>
        <inputReference>Persona_Parent_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Persona_Record</name>
        <label>Create Persona Record</label>
        <locationX>1480</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </connector>
        <inputReference>Persona_Record_to_Save</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Post_Record</name>
        <label>Create Post Record</label>
        <locationX>1491</locationX>
        <locationY>5783</locationY>
        <connector>
            <targetReference>Delete_Sprout_Data_Event_0_0</targetReference>
        </connector>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deletes the Sprout Data Event object before finishing flow</description>
        <name>Delete_Sprout_Data_Event</name>
        <label>Delete Sprout Data Event</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Deletes the Sprout Data Event object before finishing flow</description>
        <name>Delete_Sprout_Data_Event_0</name>
        <label>Delete Sprout Data Event</label>
        <locationX>1227</locationX>
        <locationY>5903</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Deletes the Sprout Data Event object before finishing flow</description>
        <name>Delete_Sprout_Data_Event_0_0</name>
        <label>Delete Sprout Data Event</label>
        <locationX>1491</locationX>
        <locationY>5903</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Persona_by_External_ID</name>
        <label>Get Existing Persona by External ID</label>
        <locationX>539</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>SproutSocialApp__ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__ExternalId__c</elementReference>
            </value>
        </filters>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>SproutSocialApp__ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_External_ID_and_Media_Provider</name>
        <label>Get Existing Persona by External ID and Media Provider</label>
        <locationX>803</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>SproutSocialApp__ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__ExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SproutSocialApp__MediaProvider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</elementReference>
            </value>
        </filters>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>SproutSocialApp__ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_Name</name>
        <label>Get Existing Persona by Name</label>
        <locationX>275</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Name</elementReference>
            </value>
        </filters>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>SproutSocialApp__ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_Name_and_Media_Provider</name>
        <label>Get Existing Persona by Name and Media Provider</label>
        <locationX>1067</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SproutSocialApp__MediaProvider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.SproutSocialApp__MediaProvider__c</elementReference>
            </value>
        </filters>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>SproutSocialApp__ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Post_by_External_ID</name>
        <label>Get Existing Post by External ID</label>
        <locationX>858</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_an_Existing_Post_record</targetReference>
        </connector>
        <filters>
            <field>SproutSocialApp__ExternalPostId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_External_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SproutSocialApp__Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SproutSocialApp__Post_Provider__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SproutSocialApp__Sprout_Social_Post__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_of_ReplyTo_Post</name>
        <label>Get Parent Case of ReplyTo Post</label>
        <locationX>996</locationX>
        <locationY>3983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Case_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.SproutSocialApp__ReplyToId__r.SproutSocialApp__ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</name>
        <label>Get &apos;Reply To&apos; Post by Provider, External ID, and Recipient</label>
        <locationX>1359</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ReplyTo_Post</targetReference>
        </connector>
        <filters>
            <field>SproutSocialApp__ResponseContextExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.SproutSocialApp__ResponseContextExternalId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SproutSocialApp__Sprout_Social_Post__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Parent_Case</name>
        <label>Update Existing Parent Case</label>
        <locationX>314</locationX>
        <locationY>4703</locationY>
        <connector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </connector>
        <inputReference>Parent_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Persona</name>
        <label>Update Existing Persona</label>
        <locationX>1084</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </connector>
        <inputReference>Persona_Record_to_Save</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Post</name>
        <label>Update Existing Post</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Delete_Sprout_Data_Event</targetReference>
        </connector>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Record</name>
        <label>Update Post Record</label>
        <locationX>1227</locationX>
        <locationY>5783</locationY>
        <connector>
            <targetReference>Delete_Sprout_Data_Event_0</targetReference>
        </connector>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordUpdates>
    <start>
        <locationX>578</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Persona_Record_from_Data_Event</targetReference>
        </connector>
        <object>SproutSocialApp__Sprout_Social_Data_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Existing_Persona_Parent_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Persona_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Post_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Persona_Parent_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Persona_Record_to_Save</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SproutSocialApp__Sprout_Social_Persona__c</objectType>
    </variables>
    <variables>
        <name>Post_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Post_Record_to_Save</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SproutSocialApp__Sprout_Social_Post__c</objectType>
    </variables>
    <variables>
        <name>Reply_To_Post</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SproutSocialApp__Sprout_Social_Post__c</objectType>
    </variables>
</Flow>
