src/flows/Suspend_Instructor_Student_User.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_Rec_for_Updation</name>
        <label>Add Contact Rec for Updation</label>
        <locationX>726</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Moodle_Status_Values</name>
        <label>Update Moodle Status Values</label>
        <locationX>746</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>Update_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_All_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact.Moodle_Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contact.Moodle_User_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Rec_for_Updation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Start_Date_of_a_Month</name>
        <label>Check Start Date of a Month</label>
        <locationX>212</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Start_Date_of_a_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Start_Of_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Contact_Records</targetReference>
            </connector>
            <label>Is Start Date of a Month</label>
        </rules>
    </decisions>
    <formulas>
        <name>Start_Of_Month</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1-day({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Suspend Instructor_Student User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suspend Instructor_Student User</label>
    <loops>
        <name>Iterate_All_Contacts</name>
        <label>Iterate All Contacts</label>
        <locationX>546</locationX>
        <locationY>42</locationY>
        <collectionReference>Query_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Moodle_Status_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Contact_Records</name>
        <label>Query Contact Records</label>
        <locationX>384</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Contacts</targetReference>
        </connector>
        <filters>
            <field>Moodle_User_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Moodle_User_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Moodle_Sync_Status__c</queriedFields>
        <queriedFields>Moodle_User_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Contact_Records</name>
        <label>Update All Contact Records</label>
        <locationX>456</locationX>
        <locationY>265</locationY>
        <inputReference>Update_Contact_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>16</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Check_Start_Date_of_a_Month</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-30</startDate>
            <startTime>01:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Update_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Update_Contact_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
