src/flows/Suspend_Instructor_Student_User_Salesforce.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_User_Rec_for_Updation</name>
        <label>Add User Rec for Updation</label>
        <locationX>561</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>Update_All_User_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_User_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IsActive</name>
        <label>Update IsActive</label>
        <locationX>755</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>Update_User_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_All_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_User_Rec.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Rec_for_Updation</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Last_Login_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-2, MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Suspend Instructor_Student User Salesforce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suspend Instructor_Student User Salesforce</label>
    <loops>
        <name>Iterate_All_Users</name>
        <label>Iterate All Users</label>
        <locationX>532</locationX>
        <locationY>59</locationY>
        <collectionReference>Query_User_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_IsActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_User_Records</name>
        <label>Query User Records</label>
        <locationX>386</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Users</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastLoginDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last_Login_Date_Formula</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instructor_Student_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>476</locationX>
        <locationY>273</locationY>
        <inputReference>Update_All_User_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>34</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Query_User_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-12-23</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Update_All_User_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Update_User_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
