src/flows/To_Notify_LTS_regarding_Submitted_to_LTS_AR_Recs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LTS_Email_Notification</name>
        <label>LTS Email Notification</label>
        <locationX>754</locationX>
        <locationY>118</locationY>
        <actionName>Assessment_Report__c.Assessment_Report_Notification_To_LTS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>To_Store_LTS_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_for_LTS_Email_Notification</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>To_Store_LTS_Ids</name>
        <label>To Store LTS Ids</label>
        <locationX>671</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Project_Manager_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Holiday_Condition_Check</name>
        <label>Holiday Condition Check</label>
        <locationX>170</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>Is Not a Business Day</defaultConnectorLabel>
        <rules>
            <name>Is_Business_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day_of_Today_Date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Day_of_Today_Date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment_Report_Records</targetReference>
            </connector>
            <label>Is Business Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Filter_LTS_Ids</name>
        <label>To Filter LTS Ids</label>
        <locationX>580</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>LTS_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Having LTS Id Already</defaultConnectorLabel>
        <rules>
            <name>Is_Having_LTS_Id_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Manager_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_AR_Records_to_Filter_LTS_Ids.Project_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
            </connector>
            <label>Is Having LTS Id Already</label>
        </rules>
    </decisions>
    <formulas>
        <name>Day_of_Today_Date</name>
        <dataType>Number</dataType>
        <expression>DAY({!Today_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>To Notify LTS regarding Submitted to LTS AR Recs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Notify LTS regarding Submitted to LTS AR Recs</label>
    <loops>
        <name>Iterate_AR_Records_to_Filter_LTS_Ids</name>
        <label>Iterate AR Records to Filter LTS Ids</label>
        <locationX>503</locationX>
        <locationY>275</locationY>
        <collectionReference>All_Assessment_Report_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_Filter_LTS_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assessment_Report_Records</name>
        <label>Get Assessment Report Records</label>
        <locationX>349</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_AR_Records_to_Filter_LTS_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Get_Assessment_Report_Record</targetReference>
        </faultConnector>
        <filters>
            <field>Project_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted to LTS</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Language_Training_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APMO_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEA_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress_2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Self_Assessment_Test_Report</stringValue>
            </value>
        </filters>
        <object>Assessment_Report__c</object>
        <outputReference>All_Assessment_Report_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Manager__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Holiday_Condition_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_for_LTS_Email_Notification</name>
        <label>Error Handling for LTS Email Notification</label>
        <locationX>869</locationX>
        <locationY>200</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Assessment Report Notification To LTS (Submitted To LTS)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>LTS Email Notification</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Get_Assessment_Report_Record</name>
        <label>Error Handling in Get Assessment Report Record</label>
        <locationX>261</locationX>
        <locationY>435</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Assessment Report Notification To LTS (Submitted To LTS)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Get Assessment Report Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>All_Assessment_Report_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Project_Manager_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
