src/flows/Update_Parent_Field_Status_When_CST_Insertion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Subflow_for_AR_as_Parent</name>
        <label>Invoke Subflow for AR as Parent</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>InvokeSubflowFromParentFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__sObjectRecordFromParentFlow</typeName>
            <typeValue>APXT_CongaSign__Transaction__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectRecordFromParentFlow</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subflowAPIName</name>
            <value>
                <stringValue>Update_Assessment_Report_Rec_From_Parent_Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_CST_Status</name>
        <label>Check CST Status</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SENT_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Condition_Check_for_AR</targetReference>
            </connector>
            <label>Is SENT Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Condition_Check_for_AR</name>
        <label>Parent Condition Check for AR</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AR_as_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_a5E__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Subflow_for_AR_as_Parent</targetReference>
            </connector>
            <label>Is AR as Parent</label>
        </rules>
    </decisions>
    <interviewLabel>Update Parent Field Status When CST Insertion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Field Status When CST Insertion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CST_Status</targetReference>
        </connector>
        <object>APXT_CongaSign__Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Update_All_AR_Recs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Update_AR_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
</Flow>
