src/flows/Update_Contact_Field_Observation_Completed_This_Year.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Contact_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contact_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Observation_Completed_This_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Annual_Review_Completed_This_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Hours_in_Current_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.DLI_Hours_in_Current_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_All_Contact_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contact_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_First_Day_Of_Year</name>
        <label>Check First Day Of Year</label>
        <locationX>710</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First_Day_Of_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>First_Day_Of_Year</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Contact_Records</targetReference>
            </connector>
            <label>Is First Day Of Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queried_Contact_Records_Size</name>
        <label>Check Queried Contact Records Size</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Contact_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Contact_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Contact_Records</targetReference>
            </connector>
            <label>Have Contact Records</label>
        </rules>
    </decisions>
    <formulas>
        <name>First_Day_Of_Year</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <interviewLabel>Update Contact&apos;s Field_Observation Completed This Year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Field_Observation Completed This Year</label>
    <loops>
        <name>Iterate_Contact_Records</name>
        <label>Iterate Contact Records</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Query_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Contact_Records</name>
        <label>Query Contact Records</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Queried_Contact_Records_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Query_Contact_Records</targetReference>
        </faultConnector>
        <filters>
            <field>Observation_Completed_This_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Annual_Review_Completed_This_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hours_in_Current_Year__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DLI_Hours_in_Current_Year__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <faultConnector>
            <targetReference>Error_Handling_in_Update_Contact_Records</targetReference>
        </faultConnector>
        <inputReference>Update_All_Contact_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_First_Day_Of_Year</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-01</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Query_Contact_Records</name>
        <label>Error Handling in Query Contact Records</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Contact Field_Observation Completed This Year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Query Contact Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Update_Contact_Records</name>
        <label>Error Handling in Update Contact Records</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Contact Field_Observation Completed This Year</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Update Contact Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Update_All_Contact_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
