src/flows/Update_Parent_Field_Status_When_CST_Updation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Subflow_for_AR_as_Parent</name>
        <label>Invoke Subflow for AR as Parent</label>
        <locationX>677</locationX>
        <locationY>51</locationY>
        <actionName>InvokeSubflowFromParentFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__sObjectRecordFromParentFlow</typeName>
            <typeValue>APXT_CongaSign__Transaction__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectRecordFromParentFlow</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subflowAPIName</name>
            <value>
                <stringValue>Update_Assessment_Report_Rec_From_Parent_Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Subflow_for_Opportunity_as_Parent</name>
        <label>Invoke Subflow for Opportunity as Parent</label>
        <locationX>679</locationX>
        <locationY>227</locationY>
        <actionName>InvokeSubflowFromParentFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__sObjectRecordFromParentFlow</typeName>
            <typeValue>APXT_CongaSign__Transaction__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectRecordFromParentFlow</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subflowAPIName</name>
            <value>
                <stringValue>Update_Opportunity_Rec_From_Parent_Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Subflow_for_Project_as_Parent</name>
        <label>Invoke Subflow for Project as Parent</label>
        <locationX>689</locationX>
        <locationY>406</locationY>
        <actionName>InvokeSubflowFromParentFlow</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__sObjectRecordFromParentFlow</typeName>
            <typeValue>APXT_CongaSign__Transaction__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectRecordFromParentFlow</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subflowAPIName</name>
            <value>
                <stringValue>Update_Project_CA_Rec_From_Parent_Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_CST_Status</name>
        <label>Check CST Status</label>
        <locationX>216</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Is not a Valid Status</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Status</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.APXT_CongaSign__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.APXT_CongaSign__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Condition_Check_for_AR</targetReference>
            </connector>
            <label>Is Valid Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Condition_Check_for_AR</name>
        <label>Parent Condition Check for AR</label>
        <locationX>483</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Parent_Condition_Check_for_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AR is not a Parent</defaultConnectorLabel>
        <rules>
            <name>Is_AR_as_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_a5E__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Subflow_for_AR_as_Parent</targetReference>
            </connector>
            <label>Is AR as Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Condition_Check_for_Opp</name>
        <label>Parent Condition Check for Opp</label>
        <locationX>483</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Parent_Condition_Check_for_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp is not a Parent</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_as_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_006__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Subflow_for_Opportunity_as_Parent</targetReference>
            </connector>
            <label>Is Opp as Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Condition_Check_for_Project</name>
        <label>Parent Condition Check for Project</label>
        <locationX>484</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Project is not a Parent</defaultConnectorLabel>
        <rules>
            <name>Is_Project_as_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_a48__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Subflow_for_Project_as_Parent</targetReference>
            </connector>
            <label>Is Project as Parent</label>
        </rules>
    </decisions>
    <interviewLabel>Update Parent Field Status When CST Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Field Status When CST Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>14</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Check_CST_Status</targetReference>
        </connector>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPLETE</stringValue>
            </value>
        </filters>
        <object>APXT_CongaSign__Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Update_All_AR_Recs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Update_AR_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Update_Contact_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
</Flow>
