src/flows/Update_Assessment_Report_Rec_From_Parent_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Completed_Value_To_AR_Rec</name>
        <label>Assign Completed Value To AR Rec</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a5E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AR_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sent_to_Instructor_Value_to_AR</name>
        <label>Assign Sent to Instructor Value to AR</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a5E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent to Instructor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AR_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submitted_To_Instructor_Value_To_AR_Rec</name>
        <label>Assign Submitted To Instructor Value To AR Rec</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a5E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Instructor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AR_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submitted_To_Student_Value_To_AR_Rec</name>
        <label>Assign Submitted To Student Value To AR Rec</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a5E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment_Report_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted to Student</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AR_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CST_Status_as_Complete</name>
        <label>Check CST Status as Complete</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Is Not COMPLETE</defaultConnectorLabel>
        <rules>
            <name>Is_COMPLETE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_From_Parent_Flow.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Completed_Value_To_AR_Rec</targetReference>
            </connector>
            <label>Is COMPLETE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CST_Status_as_Sent</name>
        <label>Check CST Status as Sent</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_CST_Status_as_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not SENT</defaultConnectorLabel>
        <rules>
            <name>Is_SENT_DLI_DEA</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_From_Parent_Flow.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLI_W_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEA_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DLI_W_Progress_2022</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Submitted_To_Student_Value_To_AR_Rec</targetReference>
            </connector>
            <label>Is SENT (DLI / DEA)</label>
        </rules>
        <rules>
            <name>Is_Sent_Annual_Review_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_From_Parent_Flow.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Instructor_Performance_Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sent_to_Instructor_Value_to_AR</targetReference>
            </connector>
            <label>Is Sent (Annual Review Report)</label>
        </rules>
        <rules>
            <name>Is_SENT_Language_Training_APMO</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Record_From_Parent_Flow.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language_Training_Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Query_Training_Report.RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APMO_Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Submitted_To_Instructor_Value_To_AR_Rec</targetReference>
            </connector>
            <label>Is SENT (Language Training / APMO)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Training_Report_Size</name>
        <label>Check Training Report Size</label>
        <locationX>1073</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Having_Training_Report_Rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Training_Report</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_CST_Status_as_Sent</targetReference>
            </connector>
            <label>Is Having Training Report Rec</label>
        </rules>
    </decisions>
    <interviewLabel>Update Assessment Report Rec From Parent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Assessment Report Rec From Parent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To fix the issue related to &quot;Error Occurred: FIELD_CUSTOM_VALIDATION_EXCEPTION: Complete all the annual report fields&quot;, this query action is to be added</description>
        <name>Query_Training_Report</name>
        <label>Query Training Report</label>
        <locationX>1073</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Training_Report_Size</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Query_Training_Report</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a5E__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Language_Training_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annual_Instructor_Performance_Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APMO_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEA_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress_2022</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AR_Rec</name>
        <label>Update AR Rec</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <faultConnector>
            <targetReference>Error_Handling_in_Update_AR_Rec</targetReference>
        </faultConnector>
        <inputReference>Assessment_Report_Rec</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Training_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Query_Training_Report</name>
        <label>Error Handling in Query Training Report</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Assessment Report Rec From Parent Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Query Training Report</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Update_AR_Rec</name>
        <label>Error Handling in Update AR Rec</label>
        <locationX>1370</locationX>
        <locationY>1070</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Assessment Report Rec From Parent Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Update AR Rec</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Assessment_Report_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assessment_Report_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <description>This variable is used to update Assessment_Report Record status.</description>
        <name>Assessment_Report_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_From_Parent_Flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>APXT_CongaSign__Transaction__c</objectType>
    </variables>
</Flow>
