src/flows/Update_Project_CA_Rec_From_Parent_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>UpdateProject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_From_Parent_Flow.Parent_a48__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateProject.Refund_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CST_Status_as_Complete</name>
        <label>Check CST Status as Complete</label>
        <locationX>168</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Is Not COMPLETE</defaultConnectorLabel>
        <rules>
            <name>Is_COMPLETE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_From_Parent_Flow.APXT_CongaSign__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project</targetReference>
            </connector>
            <label>Is COMPLETE</label>
        </rules>
    </decisions>
    <interviewLabel>Update Project_CA Rec From Parent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Rec From Parent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Project_Rec</name>
        <label>Update Project Rec</label>
        <locationX>324</locationX>
        <locationY>389</locationY>
        <inputReference>UpdateProject</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_CST_Status_as_Complete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record_From_Parent_Flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>APXT_CongaSign__Transaction__c</objectType>
    </variables>
    <variables>
        <name>Update_Contact_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
    <variables>
        <name>UpdateProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeed__Project__c</objectType>
    </variables>
</Flow>
