src/flows/Update_Training_Report_Status_Field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Training_Report_in_to_Update_List</name>
        <label>Add Training Report in to Update List</label>
        <locationX>690</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>Update_Training_Report_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Training_Report_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Training_Report_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Training_Report_Status_Field</name>
        <label>Update Training Report Status Field</label>
        <locationX>690</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>Training_Report_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Training_Report_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training_Report_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Training_Report_in_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Project_Status</name>
        <label>Check Project Status</label>
        <locationX>501</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Iterate_Training_Report_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Other Action</defaultConnectorLabel>
        <rules>
            <name>Exclude_Canceled_Ended_On_Hold_Project_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Training_Report_Records.Project__r.AcctSeed__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Training_Report_Records.Project__r.AcctSeed__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Training_Report_Records.Project__r.AcctSeed__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Report_Status_Field</targetReference>
            </connector>
            <label>Exclude Canceled, Ended , On Hold Project Reports</label>
        </rules>
    </decisions>
    <description>To update the Training Report&apos;s status field 8 days before the Report Date from &quot;Draft&quot; to &quot;Scheduled&quot;</description>
    <formulas>
        <name>Report_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+8</expression>
    </formulas>
    <interviewLabel>Update Training Report Status Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Training Report Status Field</label>
    <loops>
        <name>Iterate_Training_Report_Records</name>
        <label>Iterate Training Report Records</label>
        <locationX>396</locationX>
        <locationY>216</locationY>
        <collectionReference>Query_Training_Report_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Project_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Training_Reports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Training_Report_Records</name>
        <label>Query Training Report Records</label>
        <locationX>263</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Training_Report_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Query_Training_Report_Records</targetReference>
        </faultConnector>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DLI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DODA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FCS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Language_Training_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APMO_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEA_Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Progress_2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DLI_W_Self_Assessment_Test_Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PGLS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assessment_Report__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Training_Reports</name>
        <label>Update Training Reports</label>
        <locationX>388</locationX>
        <locationY>409</locationY>
        <faultConnector>
            <targetReference>Error_Handling_in_Update_Training_Reports</targetReference>
        </faultConnector>
        <inputReference>Update_Training_Report_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>Query_Training_Report_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-26</startDate>
            <startTime>01:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Query_Training_Report_Records</name>
        <label>Error Handling in Query Training Report Records</label>
        <locationX>257</locationX>
        <locationY>412</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Training Report Status Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Query Training Report Records</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Update_Training_Reports</name>
        <label>Error Handling in Update Training Reports</label>
        <locationX>560</locationX>
        <locationY>409</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Training Report Status Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Update Training Reports</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Training_Report_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
    <variables>
        <name>Update_Training_Report_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Report__c</objectType>
    </variables>
</Flow>
