src/flows/Update_Substitute_Instructor_Status_for_Past_End_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_CA_Status_as_Ended</name>
        <label>Assign CA Status as Ended</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Update_Instructor_CA_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_All_Contact_Assignments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Instructor_CA_Rec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_All_Contact_Assignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Instructor_CA_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Contact_Assignments</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Past_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Update Substitute Instructor Status for Past End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Substitute Instructor Status for Past End Date</label>
    <loops>
        <name>Iterate_All_Contact_Assignments</name>
        <label>Iterate All Contact Assignments</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Query_Substitue_Instructor_Contact_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CA_Status_as_Ended</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Substitue_Contact_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Substitue_Instructor_Contact_Assignments</name>
        <label>Query Substitue Instructor Contact Assignments</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Contact_Assignments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling_in_Query_Substitue_Instructor_Contact_Assignments</targetReference>
        </faultConnector>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instructor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignment_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Substitute Instructor</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Past_End_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Substitue_Contact_Assignments</name>
        <label>Update Substitue Contact Assignments</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <faultConnector>
            <targetReference>Error_Handling_in_Update_Substitue_Contact_Assignments</targetReference>
        </faultConnector>
        <inputReference>Update_All_Contact_Assignments</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Substitue_Instructor_Contact_Assignments</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-18</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Handling_in_Query_Substitue_Instructor_Contact_Assignments</name>
        <label>Error Handling in Query Substitue Instructor Contact Assignments</label>
        <locationX>704</locationX>
        <locationY>396</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Substitute Instructor Status for Past End Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Query Substitue Instructor Contact Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Handling_in_Update_Substitue_Contact_Assignments</name>
        <label>Error Handling in Update Substitue Contact Assignments</label>
        <locationX>440</locationX>
        <locationY>852</locationY>
        <flowName>Publish_Error_Event</flowName>
        <inputAssignments>
            <name>Component_Name</name>
            <value>
                <stringValue>Flow - Update Substitute Instructor Status for Past End Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Method_Name</name>
            <value>
                <stringValue>Update Substitue Contact Assignments</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Update_All_Contact_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
    <variables>
        <name>Update_Instructor_CA_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Assignments__c</objectType>
    </variables>
</Flow>
