src/flows/Zoom_Meeting_Sync.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ErrorSyncLogAssignment</name>
        <label>ErrorSyncLogAssignment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Error_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EventNotFoundSyncLogAssignment</name>
        <label>EventNotFoundSyncLogAssignment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Error_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Event Not Found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SuccessSyncLogAssignment</name>
        <label>SuccessSyncLogAssignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Error_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Meeting Deleted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_Check</name>
        <label>Event Check</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>EventNotFoundSyncLogAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEventAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Instructor</targetReference>
            </connector>
            <label>IsEventAvailable</label>
        </rules>
    </decisions>
    <interviewLabel>Zoom Meeting Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zoom Meeting Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sync_Log</name>
        <label>Create Sync Log</label>
        <locationX>314</locationX>
        <locationY>740</locationY>
        <inputReference>SyncLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Event</name>
        <label>Event</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Check</targetReference>
        </connector>
        <filters>
            <field>Meeting_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZoomObject.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Meeting_URL__c</queriedFields>
        <queriedFields>Is_Meeting_Created__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Instructor</name>
        <label>Update Instructor</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SuccessSyncLogAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorSyncLogAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Meeting_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_URL__c</field>
        </inputAssignments>
        <object>Events__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SyncLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sync_Log__c</objectType>
    </variables>
    <variables>
        <name>ZoomObject</name>
        <apexClass>ZoomWebhookObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
