src/flows/Zoom_User_Sync.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ContactNotFoundSyncLogAssignment</name>
        <label>ContactNotFoundSyncLogAssignment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Error_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contact Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zoom User Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorSyncLogAssignment</name>
        <label>ErrorSyncLogAssignment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructor_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Error_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zoom User Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SuccessSyncLogAssignment</name>
        <label>SuccessSyncLogAssignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SyncLog.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructor_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncLog.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zoom User Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sync_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ContactNotFoundSyncLogAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsContactAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Instructor_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Instructor</targetReference>
            </connector>
            <label>IsContactAvailable</label>
        </rules>
    </decisions>
    <formulas>
        <name>ZoomLicense</name>
        <dataType>String</dataType>
        <expression>IF({!ZoomUser.type} = 1, &apos;Zoom - Basic&apos;, &apos;Zoom - Pro&apos;)</expression>
    </formulas>
    <formulas>
        <name>ZoomUserId</name>
        <dataType>String</dataType>
        <expression>IF({!ZoomUserStatus} = &apos;Active&apos;, {!ZoomUser.id}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Zoom User Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zoom User Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sync_Log</name>
        <label>Create Sync Log</label>
        <locationX>314</locationX>
        <locationY>740</locationY>
        <inputReference>SyncLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Instructor_Contact</name>
        <label>Instructor Contact</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
        <filters>
            <field>Zoom_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZoomUser.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Virtual_Conference_License__c</queriedFields>
        <queriedFields>Zoom_Id__c</queriedFields>
        <queriedFields>Zoom_User_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Instructor</name>
        <label>Update Instructor</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>SuccessSyncLogAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorSyncLogAssignment</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Instructor_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Virtual_Conference_License__c</field>
            <value>
                <elementReference>ZoomLicense</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom_Id__c</field>
            <value>
                <elementReference>ZoomUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom_User_Status__c</field>
            <value>
                <elementReference>ZoomUserStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Instructor_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SyncLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sync_Log__c</objectType>
    </variables>
    <variables>
        <name>ZoomUser</name>
        <apexClass>ZoomWebhookObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZoomUserStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
